<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<!--vue模板-->
<ul id="example-2">
  <li v-for="item in items" track-by="id">
    {{ parentMessage }} - {{ $index }} - {{ item.message }}
  </li>

  <!--循环一组标签-->
  <template v-for="item in items">
    <li>{{ item.message }}</li>
    <li class="divider"></li>
  </template>

<!--遍历对象-->
  <li v-for="o in obj">
    {{ $key }} : {{ o }}
  </li>

<!--内置filterBy，可以自动过滤对象里面的值-->
  <li v-for="item in items | filterBy 'F'">
    过滤用法1 - {{ $index }} - {{ item.message }}
  </li>

  <li v-for="item in items | filterBy 'Foo' in 'message'">
    过滤用法2 - {{ $index }} - {{ item.message }}
  </li>

  <!--通过双向绑定实时过滤-->
  <input v-model="name">
  <li v-for="item in items | filterBy name in 'message'">
    过滤用法3-模拟实时搜索 - {{ $index }} - {{ item.message }}
  </li>

  <!--自定义过滤函数-->
  <li v-for="item in items | filterBy myCustomFilterFunction">
    过滤用法4-自定义过滤函数 - {{ $index }} - {{ item.message }}
  </li>

</ul>


<script src="../../public/js/framework/vue.js"></script>

<script>
//  模板渲染
var vm = new Vue({
  el: '#example-2',
  data: {
    name:'',
    parentMessage: 'Parent',
    items: [
      { message: 'Foo',id:11 },
      { message: 'Bar',id:22 }
    ],
    obj:{
      a:10,
      b:20
    }
  },
  methods: {
    myCustomFilterFunction:function (val,index){
      return index==1
    }
  }
});

//最安全的修改数组的方法
//vm.items.$set(0,{});
//清空数组
//vm.items=[];

</script>
</body>
</html>
